#all {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#container {
    display: grid;
    width: 500px;
    height: 500px;
    margin: 10px;
    background-color: black;
}

h1 {
    margin: 0;
}

.grid-item {
    background-color: white;
}

.grid-item.color {
    background-color: black;
}

#container, .grid-item {
    border: 1px solid black;
}